node_modules/
.en

logs
*.log
npm-debug.log*

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Mac files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db